.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	background: transparent;
	background-color: #eeeeee;
	/* background-color: #414141; */
	color: #ffc045;
}

.nav-left,
.nav-right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nav-logo {
	width: 40px;
	height: 40px;
	padding: 6px;
	margin: 10px;
}

.nav-button {
	/* color: #eeeeee; */
	color: #414141;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-family: sans-serif;
}

.nav-button:hover {
	color: #ffc045;
}

.nav-btn-name {
	margin-left: 6px;
	margin-right: 50px;
	font-weight: bold;
}

/* Responsive Design */

@media screen and (max-width: 1024px) {
	.navbar-container {
		position: fixed;
		bottom: 0;
		height: 6vh;
		display: flex;
		justify-content: center;
		align-self: center;
		width: 100%;
		z-index: 10;
	}

	.navbar {
		display: flex;
		justify-content: space-around;
	}

	.nav-logo {
		margin: 8px;
		width: 30px;
		height: 30px;
	}

	.Wlogo {
		width: 30px;
		height: 30px;
	}

	.nav-title {
		font-size: 16px;
	}
}

@media screen and (max-width: 700px) {
	.navbar-container {
		position: fixed;
		bottom: 0;
		height: 6vh;
		display: flex;
		justify-content: center;
		align-self: center;
		width: 100%;
		z-index: 10;
	}

	.navbar {
		display: flex;
		justify-content: space-around;
	}

	.nav-logo {
		margin: 18px;
		width: 40px;
		height: 40px;
	}

	.Wlogo {
		width: 40px;
		height: 40px;
	}

	.nav-title {
		display: none;
	}

	.logo-title {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.navbar-container {
		position: fixed;
		bottom: 0;
		height: 6vh;
		display: flex;
		justify-content: center;
		align-self: center;
		width: 100%;
		z-index: 10;
	}
	.navbar {
		display: flex;
		justify-content: space-around;
	}

	.nav-logo {
		margin: 6px;
		width: 35px;
		height: 35px;
	}

	.Wlogo {
		width: 35px;
		height: 35px;
	}

	.nav-title {
		display: none;
	}

	.logo-title {
		display: none;
	}
}
